<div>
    <h1>Дешборд</h1>
    <p class="lead">Всього задач: {{ user_count }}</p>
    <p class="lead">Задачі по статусам:</p>
    <p class="lead">todo: {{todo_task_count}}</p>
    <p class="lead">in_progress: {{in_progress_task_count}}</p>
    <p class="lead">blocked: {{blocked_task_count}}</p>
    <p class="lead">finished: {{finished_task_count}}</p>
    <p class="lead">Середня тривалість виконання задачі: {{average_time_spent}}</p>
    <a class="btn btn-lg btn-primary" href="{% url 'all_tasks' %}" role="button">Повернутись до списку задач</a>
  </div>